<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--顶部栏-->
<div class="app-header header sticky" th:fragment="topbar">
    <div class="container-fluid main-container">
        <div class="d-flex">
            <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
               href="javascript:void(0)"></a>
            <!-- sidebar-toggle-->
            <a class="logo-horizontal " th:href="@{index.html}">
                <img th:src="@{../assets/images/brand/logo-white.png}" class="header-brand-img desktop-logo"
                     alt="logo">
                <img th:src="@{../assets/images/brand/logo-dark.png}" class="header-brand-img light-logo1"
                     alt="logo">
            </a>
            <!-- LOGO -->
            <div class="main-header-center ms-3 d-none d-lg-block">
                <!--                        <input type="text" class="form-control" id="typehead" placeholder="Search for results...">-->
                <!--                        <h2>欢迎来到软件漏洞检测平台</h2>-->
                <!--                        <button class="btn px-0 pt-2"><i class="fe fe-search" aria-hidden="true"></i></button>-->
            </div>
            <div class="d-flex order-lg-2 ms-auto header-right-icons">
                <!-- SEARCH -->
                <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                        aria-controls="navbarSupportedContent-4" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                </button>
                <div class="navbar navbar-collapse responsive-navbar p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <div class="d-flex order-lg-2">
                            <div class="dropdown d-lg-none d-flex">
                                <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                                    <i class="fe fe-search"></i>
                                </a>
                                <div class="dropdown-menu header-search dropdown-menu-start">
                                    <div class="input-group w-100 p-2">
                                        <input type="text" class="form-control" placeholder="Search....">
                                        <div class="input-group-text btn btn-primary">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex country">
                                <a class="nav-link icon text-center" data-bs-target="#country-selector"
                                   data-bs-toggle="modal">
                                    <i class="fe fe-globe"></i><span
                                        class="fs-16 ms-2 d-none d-xl-block">English</span>
                                </a>
                            </div>
                            <!-- COUNTRY -->

                            <div class="d-flex">
                                <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                    <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                    <span class="light-layout"><i class="fe fe-sun"></i></span>
                                </a>
                            </div>
                            <!-- Theme-Layout -->

                            <!-- FULL-SCREEN -->

                            <div class="dropdown  d-flex notifications">
                                <a class="nav-link icon" data-bs-toggle="dropdown"><i
                                        class="fe fe-bell"></i><span class=" pulse"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading border-bottom">
                                        <div class="d-flex">
                                            <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">Notifications
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="notifications-menu">
                                        <a class="dropdown-item d-flex" href="notify-list.html">
                                            <div class="me-3 notifyimg  bg-primary brround box-shadow-primary">
                                                <i class="fe fe-mail"></i>
                                            </div>
                                            <div class="mt-1 wd-80p">
                                                <h5 class="notification-label mb-1">New Application received
                                                </h5>
                                                <span class="notification-subtext">3 days ago</span>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="notify-list.html">
                                            <div class="me-3 notifyimg  bg-secondary brround box-shadow-secondary">
                                                <i class="fe fe-check-circle"></i>
                                            </div>
                                            <div class="mt-1 wd-80p">
                                                <h5 class="notification-label mb-1">Project has been
                                                    approved</h5>
                                                <span class="notification-subtext">2 hours ago</span>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="notify-list.html">
                                            <div class="me-3 notifyimg  bg-success brround box-shadow-success">
                                                <i class="fe fe-shopping-cart"></i>
                                            </div>
                                            <div class="mt-1 wd-80p">
                                                <h5 class="notification-label mb-1">Your Product Delivered
                                                </h5>
                                                <span class="notification-subtext">30 min ago</span>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="notify-list.html">
                                            <div class="me-3 notifyimg bg-pink brround box-shadow-pink">
                                                <i class="fe fe-user-plus"></i>
                                            </div>
                                            <div class="mt-1 wd-80p">
                                                <h5 class="notification-label mb-1">Friend Requests</h5>
                                                <span class="notification-subtext">1 day ago</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a href="notify-list.html"
                                       class="dropdown-item text-center p-3 text-muted">View all
                                        Notification</a>
                                </div>
                            </div>
                            <!-- NOTIFICATIONS -->

                            <!-- MESSAGE-BOX -->
                            <!-- SIDE-MENU -->
                            <div class="dropdown d-flex profile-1">
                                <a href="javascript:void(0)" data-bs-toggle="dropdown"
                                   class="nav-link leading-none d-flex">
                                    <img src="../assets/images/users/21.jpg" alt="profile-user"
                                         class="avatar  profile-user brround cover-image">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading">
                                        <div class="text-center">
                                            <h5 class="text-dark mb-0 fs-14 fw-semibold">Percy Kewshun</h5>
                                            <small class="text-muted">Senior Admin</small>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item" href="profile.html">
                                        <i class="dropdown-icon fe fe-user"></i> Profile
                                    </a>
                                    <a class="dropdown-item" href="email-inbox.html">
                                        <i class="dropdown-icon fe fe-mail"></i> Inbox
                                        <span class="badge bg-danger rounded-pill float-end">5</span>
                                    </a>
                                    <a class="dropdown-item" href="lockscreen.html">
                                        <i class="dropdown-icon fe fe-lock"></i> Lockscreen
                                    </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--侧边栏-->
<div class="sticky" th:fragment="sidebar">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" th:href="@{index.html}">
                <img th:src="@{/assets/images/brand/logo-white.png}" class="header-brand-img desktop-logo"
                     alt="logo">
                <img th:src="@{/assets/images/brand/icon-white.png}" class="header-brand-img toggle-logo"
                     alt="logo">
                <img th:src="@{/assets/images/brand/icon-dark.png}" class="header-brand-img light-logo"
                     alt="logo">
                <img th:src="@{/assets/images/brand/logo-dark.png}" class="header-brand-img light-logo1"
                     alt="logo">
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/>
                </svg>
            </div>
            <ul class="side-menu">
                <!--                        首页-->
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" th:href="@{main.html}"><i
                            class="side-menu__icon fe fe-home"></i><span
                            class="side-menu__label">首页</span></a>
                </li>
                <!--                        数据集-->
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-package"></i><span
                            class="side-menu__label">数据集</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu mega-slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="side5">
                                        <ul class="sidemenu-list mega-menu-list">
                                            <li class="side-menu-label1"><a href="javascript:void(0)">数据集</a>
                                            </li>
                                            <li><a th:href="@{/toD2a}" class="slide-item"> D2A数据集</a>
                                            </li>
                                            <li><a th:href="@{/toSard}" class="slide-item"> SARD数据集</a>
                                            </li>
                                            <li><a th:href="@{/toVuldeepecker}" class="slide-item">
                                                VulDeePecker数据集</a></li>
                                            <li><a th:href="@{/toReveal}" class="slide-item"> Reveal数据集</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--                        数据预处理-->
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-slack"></i><span
                            class="side-menu__label">数据预处理</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="side1">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">数据预处理</a></li>
                                            <li><a th:href="@{/toExtractFun}" class="slide-item"> 提取函数</a></li>
                                            <li><a th:href="@{/toNormalize}" class="slide-item"> 标准化</a></li>
                                            <li><a th:href="@{/toToken}" class="slide-item"> 提取Token</a>
                                            </li>
                                            <li><a th:href="@{/toAst}" class="slide-item"> 提取AST</a>
                                            </li>
                                            <li><a th:href="@{/toCfg}" class="slide-item"> 提取CFG</a></li>
                                            <li><a th:href="@{/toPdg}" class="slide-item"> 提取PDG</a></li>
                                            <li><a th:href="@{/toCpg}" class="slide-item"> 提取CPG</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--                        漏洞检测-->
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-layers"></i><span
                            class="side-menu__label">漏洞检测</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="side9">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">漏洞检测</a>
                                            </li>
                                            <li><a th:href="@{/toTokensequence}" class="slide-item">
                                                基于Token序列</a></li>
                                            <li><a th:href="@{/toAstree}" class="slide-item">
                                                融合AST分割和深度语义抽取</a></li>
                                            <li><a th:href="@{/toAstpath}" class="slide-item">
                                                基于AST路径析取</a></li>
                                            <li><a th:href="@{/toCfgnn}" class="slide-item">
                                                基于控制流图和图神经网络</a></li>
                                            <li><a th:href="@{/toOnlytree}" class="slide-item">
                                                基于树结构神经网络</a></li>
                                            <li><a th:href="@{/toSysevr}" class="slide-item">
                                                基于程序切片语义抽取</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--                        个人信息-->
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-users"></i><span
                            class="side-menu__label">个人信息</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="side21">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">个人信息</a>
                                            </li>
                                            <li><a href="/dashboard2" class="slide-item"> 个人信息</a></li>
                                            <li><a href="/toUpdate" class="slide-item"> 修改</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="slide-right" id="slide-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                     width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/>
                </svg>
            </div>
        </div>
    </div>
</div>


<!-- Country-selector modal-->
<div class="modal fade" id="country-selector" th:fragment="country">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content country-select-modal">
            <div class="modal-header">
                <h6 class="modal-title">Choose Country</h6>
                <button aria-label="Close" class="btn-close"
                        data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <ul class="row p-3">
                    <li class="col-lg-6 mb-2">
                        <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block active">
                                    <span class="country-selector"><img alt=""
                                                                        src="../assets/images/flags-img/us_flag.jpg"
                                                                        class="me-3 language"></span>Chinese
                        </a>
                    </li>
                    <li class="col-lg-6 mb-2">
                        <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt=""
                                                                        src="../assets/images/flags-img/italy_flag.jpg"
                                                                        class="me-3 language"></span>English
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Country-selector modal-->

<!--footer-->
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © <span id="year"></span> <a href="javascript:void(0)">Sash</a>. Designed with <span
                    class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> Spruko </a> All rights
                reserved.
            </div>
        </div>
    </div>
</footer>



</html>