<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxnet.mapper.UserMapper">


    <select id="getUserByNameAndPwd" resultType="User">
        select * from user where userName = #{userName} and pwd = #{pwd}
    </select>


    <insert id="insertUser" parameterType="user">
        insert into user (userName, pwd) values (#{userName}, #{pwd})
    </insert>


</mapper>